* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;

  font-family: "Poppins", sans-serif;
  object-fit: cover;
  /* color: #fff; */
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.content {
  padding: 16px;
}

.error {
  color: crimson;
}

@media screen and (max-width: 768px) {
  .app {
    display: block;
  }
}

.material-icons {
  cursor: pointer;
}
