.property {
  display: flex;
  flex: 1 1 300px;
  align-items: center;
  margin: 8px 16px 32px 0;
  flex-wrap: wrap;
}

.image {
  width: 300px;
  height: 300px;
  max-width: 350px;
  max-height: 350px;
  background: #ddd;
  margin-right: 16px;
  background-size: cover !important;
  display: flex;
  justify-content: flex-end;
}

.pdetails {
  max-width: 350px;
  padding: 16px 0;
}

.pdetails > div:not(:last-child) {
  padding: 8px 0;
  border-bottom: 1px solid #e8e8e8;
}

.find,
.auth {
  /* width: calc(100vw - 200px); */
  height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.srch-btn {
  position: absolute;
  right: 0;
  padding: 7px;
  background: #ddd;
  height: 100%;
  border-radius: 0 4px 4px 0;
  border: none;
}

.listings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
}

.listing {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 6px #ddd;
  margin: 8px 16px 16px 0;
  border-radius: 8px;
  overflow: hidden;
}

.l-image {
  width: 100%;
  height: 270px;
  background-size: cover !important;
  display: flex;
  justify-content: flex-end;
}

.l-body {
  padding: 8px;
}

.pl8 {
  padding-left: 8px !important;
}

#bedrooms,
#bathrooms {
  width: 135px;
}

.error {
  font-size: 11px;
}

/* Find */
.find-wrapper {
  position: relative;
}

.suggestions {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  position: absolute;
}

.suggestion {
  cursor: pointer;
}

.suggestion:not(:last-child) {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}
